
body {
  .container {
    width: 100%;
    margin: 0 auto;
    
    
    #header {
      @include block;
      
      hgroup {
        @include block;
      }
    }
    
    #content {
      @include block;
      margin-top: $pad*4;
      
      article {
        @include block;
        
        header {
          width: $minor;
          margin-right: $margin;
          float: left;
        }
        
        aside {
          width: $major - $margin;
          float: left;
        }
        
        @include a4 {
          header {
            width: $major;
          }
          
          aside {
            @include block;
          }
        }
      }
    }
    
    #footer {
      @include block;
      position: fixed;
      bottom: $pad;
      
      nav {
        width: $minor;
        margin-right: $margin;
        float: left;
      }
      
      p {
        width: $major - $margin;
        float: left;
        margin-top: $pad*4;
      }
    }
    
    
    /* In case of big bacvkground images
    */
    #header, #content, #footer {
      width: 90%;
      margin-left: $margin;
      margin-right: $margin;
    }
  }
}






