/* Set all parents to full height */
html, body, .container, #content, #content section {
  height: 100%;
}


@mixin margin {
  width: 100% - 2*$margin;
  margin: 0 $margin;
}

body {
  .container {
    @include block;
    
    #header {
      @include block;
      @include margin;
      
      position: fixed;
      top: $pad;
      z-index: 1;
      
      hgroup {
        @include block;
      }
      
      @include mobile {
        position: relative;
      }
    }
    
    /* background-attachment does the trick */
    #content {
      section {
        position: relative;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        
        article {
          @include block;
          @include margin;
          
          header {
            width: $minor - $margin;
            margin-right: $margin;
            float: left;
            
            margin-top: $minor/2;
          }
          
          aside {
            width: $major;
            float: left;
          }
          
          @include mobile {
            position: relative;
            z-index: 5;
            
            header, aside {
              @include block;
              margin: 0;
              
            }
          }
        }
        
      }
    }
    
    
    
    #footer {
      @include block;
      @include margin;
      
      position: fixed;
      bottom: $pad;
      z-index: 1;
      
      nav {
        width: $minor;
        margin-right: $margin;
        float: left;
      }
      
      p {
        width: $major - $margin;
        float: left;
        margin-top: $pad*4;
      }
    }
    
    
    
  }
}






