
body {
  .container {
    width: 100%;
    margin: 0 auto;
    
    
    #header {
      @include block;
      
      hgroup {
        @include block;
      }
    }
    
    #content {
      @include block;
      margin-top: $pad*4;
      
      article {
        @include block;
        
        header {
          width: $minor;
          margin-right: $margin;
          float: left;
        }
        
        aside {
          width: $major - $margin;
          float: left;
        }
        
      }
    }
    
    #footer {
      @include block;
    }
    
    
    /* In case of big bacvkground images
    */
    #header, #content, #footer {
      width: 90%;
      margin-left: $margin;
      margin-right: $margin;
    }
  }
}






