/* Mixins.scss

  - reusable CSS components
  
*/


/* Responsive mixins
  - http://paulstamatiou.com/responsive-retina-blog-development-part-1
*/


$breakpoint-mobile: 380px !default;
$breakpoint-tablet: 767px !default;
$breakpoint-small: 1024px !default;
$breakpoint-large: 1279px !default;
$breakpoint-big: 1441px !default;

$breakpoint-a4-width: 793.7px !default;
$breakpoint-a4-height: 1122.51px !default;


@mixin a4 {
  @media all and (orientation : portrait) {
    @content;
  }
}


@mixin mobile {
	@media (max-width : $breakpoint-mobile) {
		@content;
	}
}

@mixin mobile-landscape {
	@media only screen and (min-width : $breakpoint-mobile + 1) and (max-width : $breakpoint-tablet) and (orientation : landscape) {
		@content;
	}
}

@mixin tablet {
	@media only screen and (min-width : $breakpoint-mobile + 1) and (max-width : $breakpoint-tablet) {
		@content;
	}
}
@mixin tablet-and-below {
	@media only screen and (max-width : $breakpoint-tablet) {
		@content;
	}
}
@mixin small-screen {
	@media only screen and (min-width : $breakpoint-tablet + 1) and (max-width : $breakpoint-small - 1) {
		@content;
	}
}
@mixin small-screen-and-below {
	@media only screen and (max-width : $breakpoint-small - 1) {
		@content;
	}
}
@mixin small-screen-and-up {
	@media only screen and (min-width : $breakpoint-small + 1) {
		@content;
	}
}

@mixin normal-screen {
  @media only screen and (min-width : $breakpoint-small) and (max-width : $breakpoint-large) {
		@content;
	}
}

@mixin large-screen {
	@media only screen and (min-width : $breakpoint-large + 1) {
		@content;
	}
}

@mixin big-screen {
	@media only screen and (min-width : $breakpoint-big + 1) {
		@content;
	}
}

@media only screen and (max-width : $breakpoint-mobile) {
  .mobile { display: block; }
  .desktop { display: none !important; }
}

@media only screen and (min-width : $breakpoint-mobile + 1) {
  .mobile { display: none; }
  .desktop { display: block; }
}







/* General mixins
*/


@mixin block {
  width: 100%;
  float: left;
}




/* Site specific mixins
*/


/*
  Set different link types
*/
@mixin link($type : normal) {
  cursor: pointer;
  
  @if $type == "normal" {
    color: $red;
    text-decoration: none;
    
    &:hover {
      color: $color;
      text-decoration: underline;
    }
  
  } @else if $type == "ttf" {
    color: $color;
    text-decoration: none;
    
    &:hover {
      color: $red;
    }
 }   
}


/*
  Set different font types
*/
@mixin font($type : normal) {
  @if $type == "normal" {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    
  } @else if $type == "ttf" {
    font-family: 'league-gothic', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 2.5em; /* 40px */
 }
    
}



