/* The color scheme
*/


$color: #000;
$background: #fff;

$red: #990000;
$blue: #477688;
$gray: #eee;
$yellow: #F9F4D6;
$lightblue: #E7F2F7;




body {
  color: $color;
  background: $background;
  
  .container {
  
    @include link(normal);
    
    h1, h2, h3, h4, h5, h6 {
      @include link(header);
    }
    
  }
}


  
