/* The color scheme
*/


$color: #363636;
$background: #f1f1f1;

/* OSF TTF colors */
$red: #990000;
$blue: #477688;
$gray: #eee;
$yellow: #F9F4D6;
$lightblue: #E7F2F7;




body {
  @include font(normal);
  
  a {
    @include link;
  }
  
  .container {
   
    #header {
      hgroup {
        padding: $pad 0;
        
        h1 {
          @include font(ttf);
          @include link(ttf);
          padding: 0;
        }
      }
    }
    
    #content {
      section {
        background-image: url(/assets/background.png);
        
        &:nth-child(2) {
          article {
            aside {
              dd {
                background: white;
                border: 1px solid lightgray;
                position: relative;
                z-index: 1;
              }
            }
          }
        }
        
        
        
        article {
          h2 {
            span {
              @include link;
            }
          }
        
          header {
            h1 {
              padding-bottom: 0;
              padding-top: $pad*3 - $pad/4;
            }
            
            h2 {
              padding-top: 0;
            }
          }
          
          aside {
            margin-top: $pad*5;
            
            h1 {
              padding-top: 0;
              font-size: 200%;
              
              span {
                font-size: 200%;
              }
              
              @include big-screen {
                font-size: 300%;
              }
              
              a {
                color: $color;
              }
            }
            
            h2 {
              margin-left: $pad*3;
              padding: 0;
              
              @include link;
              
              &:before {
                content: '+';
                font-size: 400%;
                color: #fff;
              }
              
              &:after {
                content: '\2794';
                margin-left: $pad/4;
                color: $red;
              }
            }
            
            dl {
              dt {
                font-weight: 300;
                text-transform: none;
                padding-left: $pad*2;
                font-size: 150%;
              
                margin-bottom: $pad;
                padding-bottom: 0;
                border-bottom: 1px solid #fff;
                cursor: pointer;
                
                &:after {
                  width: $pad + $pad/2;
                  height: $pad + $pad/2;
                  border-bottom: 1px solid #fff;
                  background: #fff;
                  display: inline-block;
                  
                  content: "\2192";
                  color: $red;
                  
                  padding-top: $pad/2;
                  padding-left: $pad/2;
                  margin-left: $pad/2;
                }
              }
              
              dd {
                display: none;
                
                ul {
                  margin-left: $pad*5;
                  
                  li {
                    border-bottom: 1px solid #fff;
                    padding-bottom: $pad/4;
                    margin-bottom: $pad/4;
                  }
                }
                
                &.active {
                  display: block;
                  transition: all 0.5s ease;
                }
              }
            }
           
            /*
            ol {
              font-size: 150%;
              margin: $pad*2 $pad;
              
              li {
                margin-bottom: $pad;
                padding-bottom: 0;
                border-bottom: 1px solid #fff;
                cursor: pointer;
                
                &:after {
                  width: $pad + $pad/2;
                  height: $pad + $pad/2;
                  border-bottom: 1px solid #fff;
                  background: #fff;
                  display: inline-block;
                  
                  content: "\2192";
                  color: $red;
                  
                  padding-top: $pad/2;
                  padding-left: $pad/2;
                }
                
                ul {
                  display: none;
                  
                  li {
                    font-size: smaller;
                    cursor: default;
                    
                    &:after {
                      display: none;
                    }
                  }
                }
                
                
                &.active {
                  font-weight: bold;
                  
                  &:after {
                    content: '\2190';
                    color: $color;
                    font-weight: normal;
                  }
                  
                  ul {
                    display: block;
                    
                    li {
                      border-color: $color;
                    }
                  }
                }
              }
            }
            */
            
            
            @include a4 {
              padding-bottom: 17em;  
              top: $pad*2;
              
              h1 {
                font-size: 150%;
                font-weight: bold;
                
                width: $major;
                margin-right: $margin;
                text-align: right;
                float: right;
                
                span {
                  font-size: 120%;
                }
              }
              
              ol {
                @include block;
                text-align: right;
                margin-right: $pad*2;
                
                font-size: 130%;
              }
            }
            
            
          }
        }
      }
    }
    
    #footer {
      nav {
        ul {
          li {
            @include link;
          }
        }
      }
    }
    
  }
}


  
