/* The color scheme
*/


$color: #363636;
$background: #f1f1f1;




body {
  color: $color;
  background: $background;
  
  font-family: 'Lato', sans-serif;
  
  .container {
    a, a:active, a:visited {
      color: $color;
      text-decoration: none;
    }
    
    header {
      hgroup {
        h1 {
          @include font(ttf);
        }
      }
    } 
  }
}


  
