/* The color scheme
*/


$color: #363636;
$background: #f1f1f1;

/* OSF TTF colors */
$red: #990000;
$blue: #477688;
$gray: #eee;
$yellow: #F9F4D6;
$lightblue: #E7F2F7;




body {
  @include font(normal);
  @include link(normal);
  
  .container {
   
    #header {
      hgroup {
        padding: $pad 0;
        
        h1 {
          @include font(ttf);
          @include link(ttf);
          padding: 0;
        }
      }
    }
    
    #content {
      article {
        header {
          h1 {
            padding-bottom: 0;
            padding-top: $pad*3 - $pad/4;
          }
          
          h2 {
            padding-top: 0;
          }
        }
        
        aside {
          background: $yellow;
          padding: $pad*4 0 $pad*18; /* half when one <li> is active */ 
          @include border-radius($pad*30);
          
          position: relative;
          top: -$pad*8;
          
          h1 {
            padding-top: 0;
            font-size: 300%;
            
            span {
              font-size: 200%;
            }
          }
         
          
          ol {
            font-size: 150%;
            margin: $pad*2 $pad;
            
            li {
              margin-bottom: $pad;
              padding-bottom: 0;
              border-bottom: 1px solid #fff;
              cursor: pointer;
              
              &:after {
                width: $pad + $pad/2;
                height: $pad + $pad/2;
                border-bottom: 1px solid #fff;
                background: #fff;
                display: inline-block;
                
                content: "\2192";
                color: $red;
                
                padding-top: $pad/2;
                padding-left: $pad/2;
              }
              
              ul {
                display: none;
                
                li {
                  font-size: smaller;
                  cursor: default;
                  
                  &:after {
                    display: none;
                  }
                }
              }
              
              
              &.active {
                font-weight: bold;
                
                &:after {
                  content: '\2190';
                  color: $color;
                  font-weight: normal;
                }
                
                ul {
                  display: block;
                  
                  li {
                    border-color: $color;
                  }
                }
              }
            }
          }
          
          
          @include a4 {
            padding-bottom: 0;  
            top: -$pad*2;
            
            h1 {
              font-size: 100%;
              font-weight: bold;
              
              span {
                font-size: 120%;
              }
            }
            
            ol {
              font-size: 110%;
            }
          }
          
          
        }
      }
    }
    
    #footer {
     
    }
    
  }
}


  
